<html>
    <body>
    Hello {{ username }}

    All entries of current dir:

    <form enctype="multipart/form-data" action="/submit?path={{ current }}" method="POST">
        <input type="file" name="filearg" /><input type="submit" />
    </form>

    <form method="post" action="/remove?path={{ current }}">

        {% if entries %}
            <table>
                <thead>
                    <tr>
                        <td><br /></td>
                        <td>
                            FileName
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td><input type="checkbox" name="files" value="{{ entry[1] }}" />
                        <td><a href="/?path={{ entry[1] }}">{{ entry[0] }}</a></td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        {% else %}
            No files, weird...
        {% end %}

        <input type="submit" value="Usun" />

    </form>

    <form method="post" action="/execute?path={{ current }}">
        <input type="text" name="cmd" />
        <input type="submit" value="execute" />
    </form>

    </body>
</html>
